<% layout('layouts/boilerplate') -%>
<body>
  <div style="margin-top: 2rem;" class="row">
    <div class="col-8 offset-2">
      <h2>Edit listing</h2>
      <form method="post" action="/listing/<%= listing._id %>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="">
          <label class="form-label" for="title">Enter title </label><br />
          <input
            class="form-control"
            id="title"
            name="title"
            value="<%= listing.title %>"
            type="text"
            required
          /><br />
        </div>

        <div class="">
          <label class="form-label" for="description">Enter description </label
          ><br />
          <textarea required class="form-control" id="description" name="description">
<%= listing.description %></textarea
          ><br />
        </div>
        <div class="">
         <!-- <img style="border-radius: 1rem;" src="<%= imageTransformation %>" alt=""> -->
        </div>
        <div class="">
          <label class="form-label" for="image">Upload Image</label><br />
          <input
            class="form-control"
            id="image"
            name="image"
            type="file"
          /><br />
        </div>
        <div class="row">
          <div class="col-md-5">
            <label class="form-label" for="price">Enter price</label><br />
            <input
              class="form-control"
              id="price"
              name="price"
              value="<%= listing.price %>"
              type="text"
              required
            /><br />
          </div>

          <div class="col-md-7">
            <label class="form-label" for="location">Enter location</label
            ><br />
            <input
              class="form-control"
              id="location"
              name="location"
              value="<%= listing.location %>"
              type="text"
              required
            /><br />
          </div>
        </div>
        <div class="">
          <label class="form-label" for="country"> Enter country :</label><br />
          <input
            class="form-control"
            id="country"
            name="country"
            value="<%= listing.country %>"
            type="text"
            required
          /><br /><br />
        </div>
        <button class="btn btn-danger">edit listing</button>
      </form>
    </div>
  </div>

</body>
