<% layout('layouts/boilerplate') -%>
<body>
    <div class="card individual-card-main-container">
      <img
        class="show-card-img"
        src="<%= listing.image.url %>"
        alt="individual-listing"
      />
    </div>
      <div class="card-body individual-card-text-container">
        <p class="card-text">
          <b>Owned By : <%= owner %></b>
        </p>
        <p class="card-text">
          <b><%= listing.title %></b>
        </p>
        <p><%= listing.description %></p>
        <p><i class="fa-solid fa-indian-rupee-sign"></i> <%= listing.price.toLocaleString('en-IN') %></p>
        <p><i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp;<%= listing.location %></p>
        <p><i class="fa-solid fa-globe"></i>&nbsp;&nbsp;<%= listing.country %></p>
        </div>
     <!-- edit and delete btn -->
      <% if (currUser && currUser._id.equals(listing.owner._id)) { %>
      <div class="ind-card-edit-btn">
        <form
          class=""
          method="get"
          action="/listing/<%= listing._id %>/edit"
        >
          <button class="btn btn-outline-dark">Edit </button>
        </form>
        <br />
        <form
          class=""
          method="post"
          action="/listing/<%= listing._id %>/delete?_method=DELETE"
        >
          <button class="btn btn-outline-danger">Delete</button>
        </form>
      </div>
      <% } %>

    <hr />

    <div class="feedback-container-form">
    <h2>Leave a feedback</h2>
    <form method="post" action="/listing/<%= listing._id %>/reviews">
      <fieldset class="starability-basic">
        <input
          type="radio"
          id="no-rate"
          class="input-no-rate"
          name="rating"
          value="1"
          checked
          aria-label="No rating."
        />
        <input type="radio" id="first-rate1" name="rating" value="1" />
        <label for="first-rate1" title="Terrible">1 star</label>
        <input type="radio" id="first-rate2" name="rating" value="2" />
        <label for="first-rate2" title="Not good">2 stars</label>
        <input type="radio" id="first-rate3" name="rating" value="3" />
        <label for="first-rate3" title="Average">3 stars</label>
        <input type="radio" id="first-rate4" name="rating" value="4" />
        <label for="first-rate4" title="Very good">4 stars</label>
        <input type="radio" id="first-rate5" name="rating" value="5" />
        <label for="first-rate5" title="Amazing">5 stars</label>
      </fieldset>

      <div class="">
        <label class="form-label" for="comment">Leave your comment</label>
        <textarea
          placeholder="your feedback is valuable."
          rows="4"
          class="form-control feedback-textarea"
          name="comment"
          id="comment"
        ></textarea>
      </div> <br>

      <button class="btn btn-outline-dark">submit</button>
    </form>
  </div>


<!-- seperate -->
<hr />
<h2 style="text-align: center;margin: 1rem 0 1rem 0 ;">All reveiws</h2>
    <div class="all-review">

      <% for(review of listing.reviews) {%>
      <div class="card reveiw-card">
        <h4>@<%= review.author.username %></h4>
        <p class="card-text"><%= review.feedback%></p>
        <p class="starability-result" data-rating="<%= review.rating %>">
          Rated: 3 stars
        </p>
        <form
          method="post"
          action="/listing/<%= listing._id %>/review/<%= review._id %>?_method=DELETE"
        >
          <button class="btn-sm btn btn-outline-danger">Delete</button>
        </form>
      </div>
      <% }%>
    </div>
  


</body>
